CONFIG VCCAUX=3.3;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "p1winled" LOC = P134 | IOSTANDARD = LVTTL;
NET "p2winled" LOC = P133 | IOSTANDARD = LVTTL;
NET "drawled" LOC = P132 | IOSTANDARD = LVTTL;
NET "r1chs" LOC = P2 | IOSTANDARD = LVTTL;      //updated
NET "p1chs" LOC = P5 | IOSTANDARD = LVTTL;    //updated
NET "s1chs" LOC = P6 | IOSTANDARD = LVTTL;    //updated
NET "r2chs" LOC = P82 | IOSTANDARD = LVTTL;    //updated
NET "p2chs" LOC = P117 | IOSTANDARD = LVTTL;  //updated  
NET "s2chs" LOC = P111 | IOSTANDARD = LVTTL;  //updated

NET "scr1led<0>" LOC = P119 | IOSTANDARD = LVTTL;  //updated 
NET "scr1led<1>" LOC = P112 | IOSTANDARD = LVTTL;  //updated
NET "scr1led<2>" LOC = P105 | IOSTANDARD = LVTTL;  //updated

NET "scr2led<0>" LOC = P101 | IOSTANDARD = LVTTL;  //updated    
NET "scr2led<1>" LOC = P99 | IOSTANDARD = LVTTL;  //updated       
NET "scr2led<2>" LOC = P100 | IOSTANDARD = LVTTL;  //updated    

NET "r1led<0>"  LOC = P141 | IOSTANDARD = LVTTL;  //done
NET "r1led<1>"  LOC = P142 | IOSTANDARD = LVTTL;  //done
NET "r1led<2>" LOC = P143 | IOSTANDARD = LVTTL;  //done
NET "r1led<3>" LOC = P144 | IOSTANDARD = LVTTL;  //done
NET "r2led<0>" LOC = P78 | IOSTANDARD = LVTTL;  //done
NET "r2led<1>" LOC = P79 | IOSTANDARD = LVTTL;  //done
NET "r2led<2>" LOC = P80 | IOSTANDARD = LVTTL;  //done
NET "r2led<3>" LOC = P81 | IOSTANDARD = LVTTL;  //done

NET "p1led<0>" LOC = P11 | IOSTANDARD = LVTTL;  //done
NET "p1led<1>" LOC = P12 | IOSTANDARD = LVTTL;  //done
NET "p1led<2>" LOC = P14 | IOSTANDARD = LVTTL;  //done
NET "p1led<3>" LOC = P15 | IOSTANDARD = LVTTL;  //done
NET "p2led<0>" LOC = P84 | IOSTANDARD = LVTTL;  //done
NET "p2led<1>" LOC = P85 | IOSTANDARD = LVTTL;  //done
NET "p2led<2>" LOC = P87 | IOSTANDARD = LVTTL;  //done
NET "p2led<3>" LOC = P88 | IOSTANDARD = LVTTL;  //done

NET "s1led<0>" LOC = P21 | IOSTANDARD = LVTTL;  //done
NET "s1led<1>" LOC = P22 | IOSTANDARD = LVTTL;  //done
NET "s1led<2>" LOC = P23 | IOSTANDARD = LVTTL;  //done
NET "s1led<3>" LOC = P24 | IOSTANDARD = LVTTL;  //done
NET "s2led<0>" LOC = P94 | IOSTANDARD = LVTTL;  //done
NET "s2led<1>" LOC = P95 | IOSTANDARD = LVTTL;  //done
NET "s2led<2>" LOC = P97 | IOSTANDARD = LVTTL;  //done
NET "s2led<3>" LOC = P98 | IOSTANDARD = LVTTL;  //done

NET "rstbut" LOC = P137 | IOSTANDARD = LVTTL | PULLDOWN;  //done
NET "p1" LOC = P140 | IOSTANDARD = LVTTL | PULLDOWN;  //done
NET "s1" LOC = P139 | IOSTANDARD = LVTTL | PULLDOWN;  //done
NET "r1" LOC = P138 | IOSTANDARD = LVTTL | PULLDOWN;  //done
NET "r2" LOC = P118 | IOSTANDARD = LVTTL | PULLDOWN;  //done
NET "p2" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN;  //done
NET "s2" LOC = P121 | IOSTANDARD = LVTTL | PULLDOWN;  //done
