//! **************************************************************************
// Written by: Map P.20131013 on Sun Nov 19 16:41:25 2017
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "p1" LOCATE = SITE "P140" LEVEL 1;
COMP "p2" LOCATE = SITE "P66" LEVEL 1;
COMP "r1" LOCATE = SITE "P138" LEVEL 1;
COMP "r2" LOCATE = SITE "P74" LEVEL 1;
COMP "s1" LOCATE = SITE "P142" LEVEL 1;
COMP "s2" LOCATE = SITE "P57" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "p1chs" LOCATE = SITE "P127" LEVEL 1;
COMP "p2chs" LOCATE = SITE "P123" LEVEL 1;
COMP "r1chs" LOCATE = SITE "P131" LEVEL 1;
COMP "r2chs" LOCATE = SITE "P124" LEVEL 1;
COMP "s1chs" LOCATE = SITE "P126" LEVEL 1;
COMP "s2chs" LOCATE = SITE "P121" LEVEL 1;
COMP "drawled" LOCATE = SITE "P132" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "p1led[0]" LOCATE = SITE "P84" LEVEL 1;
COMP "p1led[1]" LOCATE = SITE "P85" LEVEL 1;
COMP "p1led[2]" LOCATE = SITE "P82" LEVEL 1;
COMP "p1led[3]" LOCATE = SITE "P83" LEVEL 1;
COMP "p2led[0]" LOCATE = SITE "P80" LEVEL 1;
COMP "p2led[1]" LOCATE = SITE "P81" LEVEL 1;
COMP "p2led[2]" LOCATE = SITE "P11" LEVEL 1;
COMP "p2led[3]" LOCATE = SITE "P14" LEVEL 1;
COMP "r1led[0]" LOCATE = SITE "P97" LEVEL 1;
COMP "r1led[1]" LOCATE = SITE "P98" LEVEL 1;
COMP "r1led[2]" LOCATE = SITE "P94" LEVEL 1;
COMP "r1led[3]" LOCATE = SITE "P95" LEVEL 1;
COMP "r2led[0]" LOCATE = SITE "P92" LEVEL 1;
COMP "r2led[1]" LOCATE = SITE "P93" LEVEL 1;
COMP "r2led[2]" LOCATE = SITE "P87" LEVEL 1;
COMP "r2led[3]" LOCATE = SITE "P88" LEVEL 1;
COMP "s1led[0]" LOCATE = SITE "P15" LEVEL 1;
COMP "s1led[1]" LOCATE = SITE "P16" LEVEL 1;
COMP "s1led[2]" LOCATE = SITE "P17" LEVEL 1;
COMP "s1led[3]" LOCATE = SITE "P21" LEVEL 1;
COMP "s2led[0]" LOCATE = SITE "P22" LEVEL 1;
COMP "s2led[1]" LOCATE = SITE "P23" LEVEL 1;
COMP "s2led[2]" LOCATE = SITE "P24" LEVEL 1;
COMP "s2led[3]" LOCATE = SITE "P26" LEVEL 1;
COMP "p1winled" LOCATE = SITE "P134" LEVEL 1;
COMP "p2winled" LOCATE = SITE "P133" LEVEL 1;
COMP "rstbut" LOCATE = SITE "P137" LEVEL 1;
COMP "scr1led[0]" LOCATE = SITE "P51" LEVEL 1;
COMP "scr1led[1]" LOCATE = SITE "P50" LEVEL 1;
COMP "scr1led[2]" LOCATE = SITE "P41" LEVEL 1;
COMP "scr2led[0]" LOCATE = SITE "P40" LEVEL 1;
COMP "scr2led[1]" LOCATE = SITE "P35" LEVEL 1;
COMP "scr2led[2]" LOCATE = SITE "P32" LEVEL 1;
TIMEGRP clk = BEL "scr/M_score1_q_1" BEL "scr/M_score1_q_0" BEL
        "scr/M_score2_q_1" BEL "scr/M_score2_q_0" BEL
        "scr/blinker/M_blink_q_24" BEL "scr/blinker/M_blink_q_23" BEL
        "scr/blinker/M_blink_q_22" BEL "scr/blinker/M_blink_q_21" BEL
        "scr/blinker/M_blink_q_20" BEL "scr/blinker/M_blink_q_19" BEL
        "scr/blinker/M_blink_q_18" BEL "scr/blinker/M_blink_q_17" BEL
        "scr/blinker/M_blink_q_16" BEL "scr/blinker/M_blink_q_15" BEL
        "scr/blinker/M_blink_q_14" BEL "scr/blinker/M_blink_q_13" BEL
        "scr/blinker/M_blink_q_12" BEL "scr/blinker/M_blink_q_11" BEL
        "scr/blinker/M_blink_q_10" BEL "scr/blinker/M_blink_q_9" BEL
        "scr/blinker/M_blink_q_8" BEL "scr/blinker/M_blink_q_7" BEL
        "scr/blinker/M_blink_q_6" BEL "scr/blinker/M_blink_q_5" BEL
        "scr/blinker/M_blink_q_4" BEL "scr/blinker/M_blink_q_3" BEL
        "scr/blinker/M_blink_q_2" BEL "scr/blinker/M_blink_q_1" BEL
        "scr/blinker/M_blink_q_0" BEL "clk_BUFGP/BUFG" BEL
        "controlunit/M_state_q_FSM_FFd15" BEL "controlunit/M_state_q_FSM_FFd2"
        BEL "controlunit/M_state_q_FSM_FFd4" BEL
        "controlunit/M_state_q_FSM_FFd16" BEL "controlunit/M_state_q_FSM_FFd1"
        BEL "controlunit/M_state_q_FSM_FFd3" BEL
        "controlunit/M_state_q_FSM_FFd5" BEL "controlunit/M_state_q_FSM_FFd6"
        BEL "controlunit/M_state_q_FSM_FFd8" BEL
        "controlunit/M_state_q_FSM_FFd9" BEL "controlunit/M_state_q_FSM_FFd7"
        BEL "controlunit/M_state_q_FSM_FFd10" BEL
        "controlunit/M_state_q_FSM_FFd11" BEL
        "controlunit/M_state_q_FSM_FFd12" BEL
        "controlunit/M_state_q_FSM_FFd13" BEL
        "controlunit/M_state_q_FSM_FFd14" BEL
        "controlunit/M_state_q_FSM_FFd17" BEL "controlunit/M_timer_q_27" BEL
        "controlunit/M_timer_q_26" BEL "controlunit/M_timer_q_25" BEL
        "controlunit/M_timer_q_24" BEL "controlunit/M_timer_q_23" BEL
        "controlunit/M_timer_q_22" BEL "controlunit/M_timer_q_21" BEL
        "controlunit/M_timer_q_20" BEL "controlunit/M_timer_q_19" BEL
        "controlunit/M_timer_q_18" BEL "controlunit/M_timer_q_17" BEL
        "controlunit/M_timer_q_16" BEL "controlunit/M_timer_q_15" BEL
        "controlunit/M_timer_q_14" BEL "controlunit/M_timer_q_13" BEL
        "controlunit/M_timer_q_12" BEL "controlunit/M_timer_q_11" BEL
        "controlunit/M_timer_q_10" BEL "controlunit/M_timer_q_9" BEL
        "controlunit/M_timer_q_8" BEL "controlunit/M_timer_q_7" BEL
        "controlunit/M_timer_q_6" BEL "controlunit/M_timer_q_5" BEL
        "controlunit/M_timer_q_4" BEL "controlunit/M_timer_q_3" BEL
        "controlunit/M_timer_q_2" BEL "controlunit/M_timer_q_1" BEL
        "controlunit/M_timer_q_0" BEL "controlunit/M_state_q_FSM_FFd10_1" BEL
        "reset_cond2/M_stage_q_3" BEL "reset_cond2/M_stage_q_2" BEL
        "reset_cond2/M_stage_q_1" BEL "reset_cond2/M_stage_q_0" BEL
        "btn1/M_ppr_q" BEL "btn1/M_scr_q" BEL "btn1/M_rck_q" BEL
        "btn2/M_ppr_q" BEL "btn2/M_scr_q" BEL "btn2/M_rck_q" BEL
        "rng/pn_gen/M_y_q_31" BEL "rng/pn_gen/M_y_q_29" BEL
        "rng/pn_gen/M_y_q_28" BEL "rng/pn_gen/M_y_q_27" BEL
        "rng/pn_gen/M_y_q_26" BEL "rng/pn_gen/M_y_q_24" BEL
        "rng/pn_gen/M_y_q_23" BEL "rng/pn_gen/M_y_q_22" BEL
        "rng/pn_gen/M_y_q_18" BEL "rng/pn_gen/M_y_q_15" BEL
        "rng/pn_gen/M_y_q_12" BEL "rng/pn_gen/M_y_q_11" BEL
        "rng/pn_gen/M_y_q_10" BEL "rng/pn_gen/M_y_q_8" BEL
        "rng/pn_gen/M_y_q_7" BEL "rng/pn_gen/M_y_q_6" BEL "rng/pn_gen/M_y_q_4"
        BEL "rng/pn_gen/M_y_q_3" BEL "rng/pn_gen/M_y_q_1" BEL
        "rng/pn_gen/M_z_q_31" BEL "rng/pn_gen/M_z_q_30" BEL
        "rng/pn_gen/M_z_q_26" BEL "rng/pn_gen/M_z_q_24" BEL
        "rng/pn_gen/M_z_q_23" BEL "rng/pn_gen/M_z_q_20" BEL
        "rng/pn_gen/M_z_q_19" BEL "rng/pn_gen/M_z_q_18" BEL
        "rng/pn_gen/M_z_q_17" BEL "rng/pn_gen/M_z_q_15" BEL
        "rng/pn_gen/M_z_q_14" BEL "rng/pn_gen/M_z_q_10" BEL
        "rng/pn_gen/M_z_q_9" BEL "rng/pn_gen/M_z_q_7" BEL "rng/pn_gen/M_z_q_4"
        BEL "rng/pn_gen/M_z_q_3" BEL "rng/pn_gen/M_z_q_0" BEL
        "rng/pn_gen/M_w_q_30" BEL "rng/pn_gen/M_w_q_29" BEL
        "rng/pn_gen/M_w_q_28" BEL "rng/pn_gen/M_w_q_27" BEL
        "rng/pn_gen/M_w_q_25" BEL "rng/pn_gen/M_w_q_24" BEL
        "rng/pn_gen/M_w_q_23" BEL "rng/pn_gen/M_w_q_22" BEL
        "rng/pn_gen/M_w_q_19" BEL "rng/pn_gen/M_w_q_18" BEL
        "rng/pn_gen/M_w_q_16" BEL "rng/pn_gen/M_w_q_15" BEL
        "rng/pn_gen/M_w_q_14" BEL "rng/pn_gen/M_w_q_11" BEL
        "rng/pn_gen/M_w_q_10" BEL "rng/pn_gen/M_w_q_7" BEL
        "rng/pn_gen/M_w_q_5" BEL "rng/pn_gen/M_w_q_3" BEL "rng/pn_gen/M_w_q_2"
        BEL "rng/pn_gen/M_w_q_0" BEL "rng/pn_gen/M_x_q_31" BEL
        "rng/pn_gen/M_x_q_28" BEL "rng/pn_gen/M_x_q_27" BEL
        "rng/pn_gen/M_x_q_26" BEL "rng/pn_gen/M_x_q_24" BEL
        "rng/pn_gen/M_x_q_23" BEL "rng/pn_gen/M_x_q_21" BEL
        "rng/pn_gen/M_x_q_18" BEL "rng/pn_gen/M_x_q_17" BEL
        "rng/pn_gen/M_x_q_15" BEL "rng/pn_gen/M_x_q_14" BEL
        "rng/pn_gen/M_x_q_12" BEL "rng/pn_gen/M_x_q_9" BEL
        "rng/pn_gen/M_x_q_8" BEL "rng/pn_gen/M_x_q_7" BEL "rng/pn_gen/M_x_q_4"
        BEL "rng/pn_gen/M_x_q_3" BEL "rng/pn_gen/M_x_q_2" BEL
        "rng/pn_gen/M_x_q_0" BEL "rng/pn_gen/M_y_q_30" BEL
        "rng/pn_gen/M_y_q_25" BEL "rng/pn_gen/M_y_q_21" BEL
        "rng/pn_gen/M_y_q_20" BEL "rng/pn_gen/M_y_q_19" BEL
        "rng/pn_gen/M_y_q_17" BEL "rng/pn_gen/M_y_q_16" BEL
        "rng/pn_gen/M_y_q_14" BEL "rng/pn_gen/M_y_q_13" BEL
        "rng/pn_gen/M_y_q_9" BEL "rng/pn_gen/M_y_q_5" BEL "rng/pn_gen/M_y_q_2"
        BEL "rng/pn_gen/M_y_q_0" BEL "rng/pn_gen/M_z_q_29" BEL
        "rng/pn_gen/M_z_q_28" BEL "rng/pn_gen/M_z_q_27" BEL
        "rng/pn_gen/M_z_q_25" BEL "rng/pn_gen/M_z_q_22" BEL
        "rng/pn_gen/M_z_q_21" BEL "rng/pn_gen/M_z_q_16" BEL
        "rng/pn_gen/M_z_q_13" BEL "rng/pn_gen/M_z_q_12" BEL
        "rng/pn_gen/M_z_q_11" BEL "rng/pn_gen/M_z_q_8" BEL
        "rng/pn_gen/M_z_q_6" BEL "rng/pn_gen/M_z_q_5" BEL "rng/pn_gen/M_z_q_2"
        BEL "rng/pn_gen/M_z_q_1" BEL "rng/pn_gen/M_w_q_31" BEL
        "rng/pn_gen/M_w_q_26" BEL "rng/pn_gen/M_w_q_21" BEL
        "rng/pn_gen/M_w_q_20" BEL "rng/pn_gen/M_w_q_17" BEL
        "rng/pn_gen/M_w_q_13" BEL "rng/pn_gen/M_w_q_12" BEL
        "rng/pn_gen/M_w_q_9" BEL "rng/pn_gen/M_w_q_8" BEL "rng/pn_gen/M_w_q_6"
        BEL "rng/pn_gen/M_w_q_4" BEL "rng/pn_gen/M_w_q_1" BEL
        "rng/pn_gen/M_x_q_30" BEL "rng/pn_gen/M_x_q_29" BEL
        "rng/pn_gen/M_x_q_25" BEL "rng/pn_gen/M_x_q_22" BEL
        "rng/pn_gen/M_x_q_20" BEL "rng/pn_gen/M_x_q_19" BEL
        "rng/pn_gen/M_x_q_16" BEL "rng/pn_gen/M_x_q_13" BEL
        "rng/pn_gen/M_x_q_11" BEL "rng/pn_gen/M_x_q_10" BEL
        "rng/pn_gen/M_x_q_6" BEL "rng/pn_gen/M_x_q_5" BEL "rng/pn_gen/M_x_q_1"
        BEL "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0" BEL
        "rpsqty1/M_rckqty_q_2" BEL "rpsqty1/M_rckqty_q_1" BEL
        "rpsqty1/M_rckqty_q_0" BEL "rpsqty1/M_scrqty_q_2" BEL
        "rpsqty1/M_scrqty_q_1" BEL "rpsqty1/M_scrqty_q_0" BEL
        "rpsqty1/M_pprqty_q_2" BEL "rpsqty1/M_pprqty_q_1" BEL
        "rpsqty1/M_pprqty_q_0" BEL "rpsqty2/M_rckqty_q_2" BEL
        "rpsqty2/M_rckqty_q_1" BEL "rpsqty2/M_rckqty_q_0" BEL
        "rpsqty2/M_scrqty_q_2" BEL "rpsqty2/M_scrqty_q_1" BEL
        "rpsqty2/M_scrqty_q_0" BEL "rpsqty2/M_pprqty_q_2" BEL
        "rpsqty2/M_pprqty_q_1" BEL "rpsqty2/M_pprqty_q_0";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

