CONFIG VCCAUX  = 3.3;

NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50 %;

NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38;
NET "rst_n" IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "p1winled" LOC = P134;
NET "p1winled" IOSTANDARD = LVTTL;
NET "p2winled" LOC = P133;
NET "p2winled" IOSTANDARD = LVTTL;
NET "drawled" LOC = P132;
NET "drawled" IOSTANDARD = LVTTL;
NET "r1chs" LOC = P131;
NET "r1chs" IOSTANDARD = LVTTL;
NET "p1chs" LOC = P127;
NET "p1chs" IOSTANDARD = LVTTL;
NET "s1chs" LOC = P126;
NET "s1chs" IOSTANDARD = LVTTL;
NET "r2chs" LOC = P124;
NET "r2chs" IOSTANDARD = LVTTL;
NET "p2chs" LOC = P123;
NET "p2chs" IOSTANDARD = LVTTL;
NET "s2chs" LOC = P121;
NET "s2chs" IOSTANDARD = LVTTL;

NET "scr1led[0]" LOC = P51;
NET "scr1led[0]" IOSTANDARD = LVTTL;
NET "scr1led[1]" LOC = P50;
NET "scr1led[1]" IOSTANDARD = LVTTL;
NET "scr1led[2]" LOC = P41;
NET "scr1led[2]" IOSTANDARD = LVTTL;

NET "scr2led[0]" LOC = P40;
NET "scr2led[0]" IOSTANDARD = LVTTL;
NET "scr2led[1]" LOC = P35;
NET "scr2led[1]" IOSTANDARD = LVTTL;
NET "scr2led[2]" LOC = P32;
NET "scr2led[2]" IOSTANDARD = LVTTL;

NET "r1led[0]" LOC = P97;
NET "r1led[0]" IOSTANDARD = LVTTL;
NET "r1led[1]" LOC = P98;
NET "r1led[1]" IOSTANDARD = LVTTL;
NET "r1led[2]" LOC = P94;
NET "r1led[2]" IOSTANDARD = LVTTL;
NET "r1led[3]" LOC = P95;
NET "r1led[3]" IOSTANDARD = LVTTL;
NET "r2led[0]" LOC = P92;
NET "r2led[0]" IOSTANDARD = LVTTL;
NET "r2led[1]" LOC = P93;
NET "r2led[1]" IOSTANDARD = LVTTL;
NET "r2led[2]" LOC = P87;
NET "r2led[2]" IOSTANDARD = LVTTL;
NET "r2led[3]" LOC = P88;
NET "r2led[3]" IOSTANDARD = LVTTL;

NET "p1led[0]" LOC = P84;
NET "p1led[0]" IOSTANDARD = LVTTL;
NET "p1led[1]" LOC = P85;
NET "p1led[1]" IOSTANDARD = LVTTL;
NET "p1led[2]" LOC = P82;
NET "p1led[2]" IOSTANDARD = LVTTL;
NET "p1led[3]" LOC = P83;
NET "p1led[3]" IOSTANDARD = LVTTL;
NET "p2led[0]" LOC = P80;
NET "p2led[0]" IOSTANDARD = LVTTL;
NET "p2led[1]" LOC = P81;
NET "p2led[1]" IOSTANDARD = LVTTL;
NET "p2led[2]" LOC = P11;
NET "p2led[2]" IOSTANDARD = LVTTL;
NET "p2led[3]" LOC = P14;
NET "p2led[3]" IOSTANDARD = LVTTL;

NET "s1led[0]" LOC = P15;
NET "s1led[0]" IOSTANDARD = LVTTL;
NET "s1led[1]" LOC = P16;
NET "s1led[1]" IOSTANDARD = LVTTL;
NET "s1led[2]" LOC = P17;
NET "s1led[2]" IOSTANDARD = LVTTL;
NET "s1led[3]" LOC = P21;
NET "s1led[3]" IOSTANDARD = LVTTL;
NET "s2led[0]" LOC = P22;
NET "s2led[0]" IOSTANDARD = LVTTL;
NET "s2led[1]" LOC = P23;
NET "s2led[1]" IOSTANDARD = LVTTL;
NET "s2led[2]" LOC = P24;
NET "s2led[2]" IOSTANDARD = LVTTL;
NET "s2led[3]" LOC = P26;
NET "s2led[3]" IOSTANDARD = LVTTL;

NET "rstbut" LOC = P137;
NET "rstbut" IOSTANDARD = LVTTL;
NET "rstbut" PULLDOWN;
NET "p1" LOC = P140;
NET "p1" IOSTANDARD = LVTTL;
NET "p1" PULLDOWN;
NET "s1" LOC = P142;
NET "s1" IOSTANDARD = LVTTL;
NET "s1" PULLDOWN;
NET "r1" LOC = P138;
NET "r1" IOSTANDARD = LVTTL;
NET "r1" PULLDOWN;
NET "r2" LOC = P74;
NET "r2" IOSTANDARD = LVTTL;
NET "r2" PULLDOWN;
NET "p2" LOC = P66;
NET "p2" IOSTANDARD = LVTTL;
NET "p2" PULLDOWN;
NET "s2" LOC = P57;
NET "s2" IOSTANDARD = LVTTL;
NET "s2" PULLDOWN;
