CONFIG VCCAUX=3.3;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "p1winled" LOC = P134 | IOSTANDARD = LVTTL;
NET "p2winled" LOC = P133 | IOSTANDARD = LVTTL;
NET "drawled" LOC = P132 | IOSTANDARD = LVTTL;
NET "r1chs" LOC = P131 | IOSTANDARD = LVTTL;
NET "p1chs" LOC = P127 | IOSTANDARD = LVTTL;
NET "s1chs" LOC = P126 | IOSTANDARD = LVTTL;
NET "r2chs" LOC = P124 | IOSTANDARD = LVTTL;
NET "p2chs" LOC = P123 | IOSTANDARD = LVTTL;
NET "s2chs" LOC = P121 | IOSTANDARD = LVTTL;

NET "scr1led<0>" LOC = P51 | IOSTANDARD = LVTTL;
NET "scr1led<1>" LOC = P50 | IOSTANDARD = LVTTL;
NET "scr1led<2>" LOC = P41 | IOSTANDARD = LVTTL;

NET "scr2led<0>" LOC = P40 | IOSTANDARD = LVTTL;
NET "scr2led<1>" LOC = P35 | IOSTANDARD = LVTTL;
NET "scr2led<2>" LOC = P32 | IOSTANDARD = LVTTL;

NET "r1led<0>"  LOC = P97 | IOSTANDARD = LVTTL;
NET "r1led<1>"  LOC = P98 | IOSTANDARD = LVTTL;
NET "r1led<2>" LOC = P94 | IOSTANDARD = LVTTL;
NET "r1led<3>" LOC = P95 | IOSTANDARD = LVTTL;
NET "r2led<0>" LOC = P92 | IOSTANDARD = LVTTL;
NET "r2led<1>" LOC = P93 | IOSTANDARD = LVTTL;
NET "r2led<2>" LOC = P87 | IOSTANDARD = LVTTL;
NET "r2led<3>" LOC = P88 | IOSTANDARD = LVTTL;

NET "p1led<0>" LOC = P84 | IOSTANDARD = LVTTL;
NET "p1led<1>" LOC = P85 | IOSTANDARD = LVTTL;
NET "p1led<2>" LOC = P82 | IOSTANDARD = LVTTL;
NET "p1led<3>" LOC = P83 | IOSTANDARD = LVTTL;
NET "p2led<0>" LOC = P80 | IOSTANDARD = LVTTL;
NET "p2led<1>" LOC = P81 | IOSTANDARD = LVTTL;
NET "p2led<2>" LOC = P11 | IOSTANDARD = LVTTL;
NET "p2led<3>" LOC = P14 | IOSTANDARD = LVTTL;

NET "s1led<0>" LOC = P15 | IOSTANDARD = LVTTL;
NET "s1led<1>" LOC = P16 | IOSTANDARD = LVTTL;
NET "s1led<2>" LOC = P17 | IOSTANDARD = LVTTL;
NET "s1led<3>" LOC = P21 | IOSTANDARD = LVTTL;
NET "s2led<0>" LOC = P22 | IOSTANDARD = LVTTL;
NET "s2led<1>" LOC = P23 | IOSTANDARD = LVTTL;
NET "s2led<2>" LOC = P24 | IOSTANDARD = LVTTL;
NET "s2led<3>" LOC = P26 | IOSTANDARD = LVTTL;

NET "rstbut" LOC = P137 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p1" LOC = P140 | IOSTANDARD = LVTTL | PULLDOWN;
NET "s1" LOC = P142 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r1" LOC = P138 | IOSTANDARD = LVTTL | PULLDOWN;
NET "r2" LOC = P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p2" LOC = P66 | IOSTANDARD = LVTTL | PULLDOWN;
NET "s2" LOC = P57 | IOSTANDARD = LVTTL | PULLDOWN;